@model jwhitehead_FinancialPortal.Models.CodeFirst.Household

@{
    ViewBag.Title = "My Household";
}

<h2 style="margin-bottom: 30px;">My Household</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            Action
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Name)
        </td>
        <td>
            @Html.ToUserTime(Model.Created, ViewBag.UserTimeZone as string, "MM-dd-yyyy, h:mm:ss tt")
        </td>
        <td>
            @Html.ActionLink("Invite", "InviteToJoin", new { id = Model.Id }) |
            @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
            @Html.ActionLink("Leave", "LeaveHousehold", new { id = Model.Id })
            @*@Html.ActionLink("Details", "Details", new { id=Model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=Model.Id })*@
        </td>
    </tr>

</table>
