@model jwhitehead_FinancialPortal.Models.CodeFirst.Household


@{
    ViewBag.Title = "Confirm Joining Household";
}

<h2>Confirm Joining Household</h2>

        <h4>Please confirm you want to join the household below.</h4>
        <hr />
        <p style="margin-bottom: 20px;">Joining: @Model.Name</p>

@using (Html.BeginForm("JoinHousehold", "Households", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.Id)

    <div>
        <button name="submit" type="submit" class="btn btn-success" >Join</button>
        <a href="@Url.Action("Index","Home")" class="btn btn-danger">No Thanks</a>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
