@model jwhitehead_FinancialPortal.Models.ChangeNameViewModel

<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            @*<div class="pull-right text-right" style="line-height: 14px">
                    <small>Account Table<br>General<br> <span class="c-white">Data Table View</span></small>
                </div>*@
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-config"></i>
            </div>
            <div class="header-title">
                <h3>Change Name</h3>
                <small>
                    Change Form
                </small>
            </div>
        </div>
        <hr>
    </div>
</div>

@using (Html.BeginForm("ChangeName", "Manage", FormMethod.Post, new { @class = "formhorizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.NewName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.NewName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-oﬀset-2 col-md-10" style="margin-left: 120px; margin-top: 40px;">
            <input type="submit" value="Change Name" class="btn btn-accent" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

