@using jwhitehead_FinancialPortal.Models
@model RegisterViewModel

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<!-- Main content-->
<section class="content">
    <div class="back-link">
        <a href="@Url.Action("Login")" class="btn btn-accent">Back to Login</a>
    </div>
    <div class="container-center lg animated slideInDown">

        <div class="panel panel-filled">
            <div class="panel-body">

                <!--I moved this from above the panel panel-filled div class. Also added style="margin-left: -12px;-->
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-add-user"></i>
                    </div>
                    <div class="header-title">
                        <h3>Register</h3>
                        <small class="helpBlockText">
                            Please enter your data to register.
                        </small>
                    </div>
                </div>

                <p>
                </p>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "Multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    if (Model.HouseholdId != null) // already in database and attached to a Household
                    {
                        <input name="HouseholdId" value="@Model.HouseholdId" hidden />
                        <p style="color: white;">Registering here will complete your invitation to join household '@ViewBag.HouseholdName'.</p>
                        <a href="@Url.Action("NoThanks","Account")"class="btn btn-warning" style="margin-bottom: 30px;">No Thanks</a>
                    }
                    <div class="row">
                        <div class="col-lg-6" style="margin-bottom: 20px;">
                            @Html.LabelFor(m => m.FirstName, new { @style = "padding-left: 10px;" })
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", style = "background-color:rgb(250, 255, 189)", required = "true" })
                        </div>
                        <div class="col-lg-6" style="margin-bottom: 20px;">
                            @Html.LabelFor(m => m.LastName, new { @style = "padding-left: 10px;" })
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", style = "background-color:rgb(250, 255, 189)", required = "true" })
                        </div>
                        <div class="col-lg-6" style="margin-bottom: 20px;">
                            @Html.LabelFor(m => m.Email, new { @style = "padding-left: 10px;" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", style = "background-color:rgb(250, 255, 189)", required = "true" })
                            <span class="help-block small helpBlockText">Your address email to contact</span>
                        </div>
                        <div class="col-lg-6" style="margin-bottom: 20px;">
                            @Html.LabelFor(m => m.Password, new { @style = "padding-left: 10px;" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", style = "background-color:rgb(250, 255, 189)", required = "true" })
                            <span class="help-block small helpBlockText">Make it a good password</span>
                        </div>
                        <div class="col-lg-6" style="margin-bottom: 20px;">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @style = "padding-left: 10px;" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", style = "background-color:rgb(250, 255, 189)", required = "true" })
                            <span class="help-block small helpBlockText">Please repeat your password</span>
                        </div>
                        <div class="col-lg-6">
                            <label style="padding-left: 10px;">Profile Picture</label>
                            <input name="image" type="file" class="form-control" style = "background-color:rgb(250, 255, 189)"/>
                            <span class="help-block small helpBlockText">Upload profile pic</span>
                        </div>
                        <div class="col-lg-6" style="margin-bottom: 40px;">
                            @Html.LabelFor(m => m.TimeZone, new { @style = "padding-left: 10px;"})
                            @Html.DropDownList("TimeZone", null, "Please Select", new { @class = "searchable-select", style = "height: 35px; width: 350px;" })
                        </div>
                        <div class="col-lg-6">
                            <button class="btn btn-accent">Register</button>
                            <a class="btn btn-default" href="@Url.Action("Login", "Account")">Back</a>
                            <input type="hidden" name="id" value="householdId" /> @*jw added 11/2/17*@
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- End main content-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}